# FastAPI и сопутствующие библиотеки
fastapi==0.103.2        # Основной фреймворк для API
uvicorn==0.23.2         # Сервер для запуска приложения FastAPI

# Pydantic
pydantic==2.3.0         # Для работы со схемами данных

# FastAPI Users
fastapi-users[sqlalchemy]==10.3.0  # Пакет для управления пользователями с поддержкой SQLAlchemy

# SQLAlchemy и Alembic
sqlalchemy==2.0.21       # Работа с базой данных
asyncpg==0.28.0          # Драйвер для PostgreSQL (асинхронный)
alembic==1.12.0          # Для управления миграциями базы данных

# Работа с токенами
python-jose==3.3.0       # Для генерации JWT токенов
passlib[bcrypt]==1.7.4   # Для хэширования паролей

# Вспомогательные пакеты
email-validator==2.0.0   # Для валидации email адресов
python-dotenv==1.0.0     # Для работы с .env файлами (хранение конфигурации)
